div{
  font-family:tahoma;
  /* overflow:clip; // fix this */
}

.sidenav_largeScreen {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 55px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  border-right: 5px solid #80ab1a;
}

.sidenav_largeScreen a {
  color: white;
  left: 15px;
}

.sidenav_smallScreen {
  width: 0vw;
  height: 100vh;
  position: fixed;
  top: 5vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  border-right: 5px solid #80ab1a;
}

.sidenav_smallScreen a {
  color: white;
  left: 15px;
}

.sidenav-text{
  text-align: center;
  overflow: scroll; /* fix this */
}

.sidenav-text a {
  left: 15px;
  position: relative;
}

.buttons{
  margin-left:10%;
  width:80%;
}

.main {
  font-size: 28px;
  padding: 10px;
}

.topnav {
  position: fixed;
  background-color: #333;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  border-bottom: 5px solid #5e800f;
}

.topnav a {
  float: left;
  margin-left: 1vmin;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 14px;
  text-decoration: none;
  vertical-align: middle;
}

.menu_button_open{
  height: 4vh;
  float: left;
  padding-left: 14px;
  align-items: center;
}

.menu_button_open img {
}

.menu_button_closed{
  height: 4vh;
  vertical-align: middle;
  float: left;
  padding-left: 14px;
}

.book_div{
  border: 1px solid MediumSeaGreen;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.book_format{
  border: 1px solid black;
  height: 350px;
  margin: 10px;
  overflow: scroll;
}

.box_pos{
}

.book_img{
	height:65%;
  width:37%;
  border: 1vw solid black;
  float:left;
}

.book_text{
  text-align: center;
  width: 55%;
  height: 71%;
  padding-right: 1%;
  content: "";
  display: inline-block;
  float: right;
  overflow:scroll;
}

.book_block{
  background-color: #aaaaaa;
  padding: 5px;
  border-radius: 3px;
  line-height: 2;
  width: 99%;
  text-align: center;
}

.pressed {
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 5px;
  border-color:#999999;
  color: #dedede;
  text-shadow: 0 1px 1px #000000;
  background: linear-gradient(to bottom, #97a5b0 0%,#adbbc7 77%,#bcc6cf 100%);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);

}

.pressed:active {
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 5px;
  color: #000000;
  text-shadow: 0 1px 1px #fafafa;
  background: linear-gradient(to bottom, #e4e7eb 0%,#afb5ba 44%, #91969c 100%);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .5);
  border-top-color: #bdc2c7;
  border-left-color: #bdc2c7;
  border-right-color: #5c646b;
  border-bottom-color: #5c646b;
}


.unpressed {
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 5px;
  color: #000000;
  text-shadow: 0 1px 1px #fafafa;
  background: linear-gradient(to bottom, #e4e7eb 0%,#afb5ba 44%, #91969c 100%);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .5);
  border-top-color: #bdc2c7;
  border-left-color: #bdc2c7;
  border-right-color: #5c646b;
  border-bottom-color: #5c646b;
}

.unpressed:active {
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 5px;
  border-color:#999999;
  color: #eeeeee;
  text-shadow: 0 1px 1px #000000;
  background: linear-gradient(to bottom, #97a5b0 0%,#adbbc7 77%,#bcc6cf 100%);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
}
